@font-face {
  font-family: Jomhuria-Regular;
  src: url("./fonts/Jomhuria-Regular.ttf") format(ttf);
}

/* body * {
  font-family: Jomhuria-Regular !important;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.card-img {
  position: relative;
  height: 295px;
  left: 0px;
  top: 0px;
  background: url("./images/rectangle_1.png");
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.calender {
  position: relative;
  width: 100px;
  height: 103px;
  left: 0px;
  top: 0px;
  background: rgba(5, 143, 110, 0.8);
  border-radius: 8px 0px 0px 0px;
}
.calender > h1 {
  position: absolute;
  width: 56px;
  height: 54px;
  left: 22px;
  top: 12px;
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 112%;
  text-align: center;
  color: #ffffff;
}
.card-img > p {
  position: absolute;
  height: 50px;
  left: 21px;
  top: 210px;
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 104%;
  /* or 25px */
  color: #fff3f3;
}
.birthday-card {
  width: 375px;
  height: 470px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user-card-list {
  display: flex;
  flex-direction: column;
}
.user-card {
  width: 376px;
  height: 92.5px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.event-card {
  border-radius: 16px;
  padding: 0;
  margin-block: 16px;
  /* height: 470px; */
}
.bday-card {
  border-radius: 16px;
  padding: 0;
  margin-block: 16px;
  /* height: 470px; */
  background: url("./images/usercard_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-block: 8px;
}
.bday-card h4 {
  color: #8f058a;
  text-align: center;
}
.bday-card p {
  line-height: 0.5rem;
  text-align: center;
  font-style: italic;
}
.user-card:nth-child(1n) {
  margin-block: 1.5em;
}
.user-card-typo {
  margin-left: 1em;
}
.user-card-typo h4 {
  color: #8f058a;
  font-size: medium;
}
.user-card-typo p {
  line-height: 0.5rem;
  font-style: italic;
}
.header {
  background: linear-gradient(
    180deg,
    #8f058a 0%,
    rgba(255, 255, 255, 0.26) 238.33%
  );
}
.footer {
  background: linear-gradient(
    180deg,
    #8f058a 0%,
    rgba(255, 255, 255, 0.26) 238.33%
  );
  width: 100vw;
}
.navbar-brand {
  background-color: #8f058a;
}

.logo h1 {
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 0px;
  text-align: center;
  color: #ffffff;
  margin-top: revert;
  font-family: Jomhuria-Regular;
}
.logo p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  /* identical to box height */
  letter-spacing: 0.4em;
  text-align: center;
  color: #f9faf9;
  font-family: Jomhuria-Regular;
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .navbar > .container-fluid {
    padding-inline: 6rem;
  }
}
.navbar-light .navbar-nav .nav-item > a {
  color: #fff;
}
.navbar-light .navbar-nav .nav-item > a:hover {
  color: #099574 !important;
  font-size: large;
  font-weight: 500;
}
.active-user {
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: bold;
  color: #fff !important;
  opacity: 0.6;
}
title {
  font-family: "Poppins-Regular";
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: bold;
  opacity: 0.6;
}
.footer h4 {
  color: #fff;
}
.about {
  color: #e3e3e3;
  font-family: "Poppins-Regular";
  line-height: 1.5rem;
  letter-spacing: -1px;
  font-size: large;
}
.footer li {
  color: #e3e3e3;
  font-family: "Poppins-light";
  line-height: 1.5rem;
  font-size: 22px;
  display: inline;
  letter-spacing: 0.15rem;
}
.terms {
  color: #bdb9b9;
  font-family: "Poppins-light";
  line-height: 1.5rem;
  font-size: larger;
  letter-spacing: 0.15rem;
}
.footer input {
  margin-bottom: 8px;
  border-radius: 8px;
  height: 60px;
}
.footer textarea {
  margin-bottom: 8px;
  border-radius: 8px;
}
.achievers-block {
  /* height: 120px;
  margin-block: 16px; */
}
