/* Navbar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 120px;
gap: 277px;

position: absolute;
width: 1512px;
height: 120px;
left: 0px;
top: 0px;

background: linear-gradient(
  180deg,
  #8f058a 0%,
  rgba(255, 255, 255, 0.26) 238.33%
);

/* Logo */

width: 177px;
height: 75.5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* TOGETHER */

position: absolute;
width: 177px;
height: 72px;
left: 120px;
top: calc(50% - 72px / 2 - 1.75px);

font-family: "Jomhuria";
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 72px;
/* identical to box height */
text-align: center;

color: #ffffff;

/* makes memories */

position: absolute;
width: 176px;
height: 32px;
left: 120px;
top: 65.75px;

font-family: "Jomhuria";
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
/* identical to box height */
letter-spacing: 0.1em;

color: #f9faf9;

/* Group 4 */

width: 661px;
height: 60px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* menu */

position: absolute;
width: 350px;
height: 36px;
left: 731px;
top: 42px;

/* Home */

position: absolute;
width: 72px;
height: 36px;
left: 731px;
top: 42px;

font-family: "Poppins";
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #ffffff;

/* Events */

position: absolute;
width: 78px;
height: 36px;
left: 854px;
top: 42px;

font-family: "Poppins";
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #2efdcb;

/* Contact */

position: absolute;
width: 98px;
height: 36px;
left: 983px;
top: 42px;

font-family: "Poppins";
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #ffffff;

/* profile */

position: absolute;
width: 235px;
height: 60px;
left: 1157px;
top: 30px;

/* username */

position: absolute;
width: 154.93px;
height: 36px;
left: 1157px;
top: 42px;

font-family: "Poppins";
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #ffffff;

/* user-avatar */

position: absolute;
width: 62.39px;
height: 60px;
left: 1329.61px;
top: 30px;

background: url();
